html{
	background: linear-gradient(to right, palegreen, brown);
}

body{
  margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color:  black;
	font-size: 1em;
	line-height: 1.5em  ;
}

.info label{
	display: inline-block;
  width: 80px;
}

input[type=number]{
	width: 10vw;
}

input[type= number]:invalid{
	background-color:pink;
}

input[type=text]:invalid{
	background-color:pink;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=text]{
	width: 50vw;
}


@media screen and (max-width: 450px){
	#sel_altura:checked ~  #alturas{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
		animation-duration: 1s;
  		animation-name: anim_alturas;
	}

	#diametros{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
	}
}


@media screen and (min-width: 450px){
	#sel_altura:checked ~  #alturas{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
		animation-duration: 1s;
  		animation-name: anim_alturas;
	}

	#diametros{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

	}
}


@media screen and (min-width: 1000px){
	#sel_altura:checked ~  #alturas{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
		animation-duration: 1s;
  		animation-name: anim_alturas;
	}

	#diametros{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

	}
}



#alturas{
	display: none;
}


@keyframes anim_alturas {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#resultado{
  background-color: white;
  margin: 0;
  height: 20vh;
}

#informacion{
	display: flex;
	flex-direction: column;
}


#guardar{
	visibility: collapse;
}

form:valid #guardar{
	visibility: visible;
}


.menos{
	border: blanchedalmond 1px solid;
	background-color: blanchedalmond;
	color:black;
}
.mas{
	border: aquamarine 1px solid;
	background-color:aquamarine;
	color:black;
}

